### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:

purchase_data.head()
#purchase_data.dtypes

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#calculate number of players. https://www.geeksforgeeks.org/python-pandas-dataframe-nunique/
total_players=purchase_data["SN"].nunique()
#display as df
pd.DataFrame({'Total Players':[total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#calculations for purchase analysis
unique_items= purchase_data["Item ID"].nunique()
average_price= purchase_data["Price"].mean()
purchase_quantity= purchase_data["Purchase ID"].count()
total_revenue= purchase_data["Price"].sum()
PA_df=pd.DataFrame({'Number of Unique Items':[unique_items],
              'Average Price':[average_price],
              'Number of Purchases':[purchase_quantity],
              'Total Revenue':[total_revenue]})
PA_df
#currency format
(PA_df.style.format({"Average Price": "${0:,.2f}","Total Revenue":"${0:,.2f}"}))

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#New df with demographic info
gender_table=purchase_data[["Gender","SN","Age"]]
gender_table.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [6]:
#groupby gender and calculate the total count and percent of players by gender
grouped_gender=gender_table.groupby(["Gender"])
gender_total=grouped_gender["SN"].nunique()
gender_percentage=(gender_total/total_players*100).round(2)
gender_demo_summary= pd.DataFrame({"Total Count":gender_total,'Percentage of Players':gender_percentage})
gender_demo_summary=gender_demo_summary.sort_values(by = "Total Count", ascending=False)
gender_demo_summary

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#new df with purchasing info
gender_analysis=purchase_data[["Gender","Purchase ID","Item ID","Item Name","Price","SN"]]
gender_analysis.head()

,Gender,Purchase ID,Item ID,Item Name,Price,SN
0,Male,0,108,"Extraction, Quickblade Of Trembling Hands",3.53,Lisim78
1,Male,1,143,Frenzied Scimitar,1.56,Lisovynya38
2,Male,2,92,Final Critic,4.88,Ithergue48
3,Male,3,100,Blindscythe,3.27,Chamassasya86
4,Male,4,131,Fury,1.44,Iskosia90

In [8]:
#groupby purchase info by gender
purchase_analysis=gender_analysis.groupby(["Gender"])
#purchase info calculations
purchase_count=purchase_analysis["Purchase ID"].count()
average_purchase=purchase_analysis["Price"].mean().round(2)
totalvalue_purchase=purchase_count*average_purchase
avgtotal_purchase= (totalvalue_purchase/gender_total).round(2)

gender_purchase_analysis= pd.DataFrame({'Purchase Count':purchase_count,
                                        'Average Purchase Price':average_purchase,
                                       'Total Purchase Value':totalvalue_purchase,
                                       'Avg Total Purchase per Person':avgtotal_purchase})
gender_purchase_analysis
# currency format
(gender_purchase_analysis.style.format({"Average Purchase Price": "${0:,.2f}","Total Purchase Value": "${0:,.2f}","Avg Total Purchase per Person":"${0:,.2f}"}))

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# bins
age_bins=[0, 9.99,14.99,19.99,24.99,29.99,34.99,39.99,200]
age_group=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html
pd.cut(gender_table["Age"],age_bins,labels=age_group)

gender_table["Age Group"]= pd.cut(purchase_data["Age"],age_bins,labels=age_group)

ages_group=gender_table.groupby("Age Group")

age_total=ages_group["SN"].nunique()
age_percentage=(age_total/total_players*100).round(2)

age_demographics= pd.DataFrame({'Total Count':age_total,'Percentage of Players':age_percentage})
age_demographics

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
ages_analysis_df=purchase_data[["SN","Age","Purchase ID","Price"]]
# bins
age_bins=[0, 9.99,14.99,19.99,24.99,29.99,34.99,39.99,200]
age_group=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

pd.cut(ages_analysis_df["Age"],age_bins,labels=age_group)

ages_analysis_df["Age Group"]= pd.cut(ages_analysis_df["Age"],age_bins,labels=age_group)

ages_group=ages_analysis_df.groupby("Age Group")

age_purchases_count=ages_group["Purchase ID"].count()
age_avg_purchases= (ages_group["Price"].mean().round(2))
age_tot_value=(age_purchases_count*age_avg_purchases)
age_purchase_perperson=(age_tot_value/age_total).round(2)

age_purchase_analysis= pd.DataFrame({'Purchase Count':age_purchases_count,
                                        'Average Purchase Price':age_avg_purchases,
                                       'Total Purchase Value':age_tot_value,
                                       'Avg Total Purchase per Person':age_purchase_perperson})
age_purchase_analysis
(age_purchase_analysis.style.format({"Average Purchase Price": "${0:,.2f}","Total Purchase Value": "${0:,.2f}","Avg Total Purchase per Person":"${0:,.2f}"}))

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#groupby top spenders by SN
top_spenders=ages_analysis_df.groupby("SN")
#top spenders calculations
top_spender_count=top_spenders["Purchase ID"].count()
top_spender_purchases= (top_spenders["Price"].mean().round(2))
top_spender_tot_value=(top_spender_count*top_spender_purchases)

top_spender_analysis= pd.DataFrame({'Purchase Count':top_spender_count,
                                        'Average Purchase Price':top_spender_purchases,
                                       'Total Purchase Value':top_spender_tot_value})
top_spender_analysis=top_spender_analysis.sort_values(by = "Total Purchase Value", ascending=False)
#currency format
(top_spender_analysis.head().style
  .format({"Average Purchase Price":"${0:,.2f}",
          "Total Purchase Value":"${0:,.2f}"}))
#(top_spender_analysis.style.format({"Average Purchase Price": "${0:,.2f}","Total Purchase Value": "${0:,.2f}"}))

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#new df for popular items
popular_items_df = purchase_data[["Item ID", "Item Name", "Purchase ID", "Price"]]

popular_items = popular_items_df.groupby(["Item ID", "Item Name"])

popular_items["Purchase ID"].count()

popular_item_count=popular_items["Purchase ID"].count()

item_price=popular_items["Price"].mean()

item_value=popular_item_count*item_price

pop_items=pd.DataFrame({"Purchase Count": popular_item_count,
                        "Item Price": item_price,
                        "Total Purchase Value": item_value})

pop_items=pop_items.sort_values(by = "Purchase Count", ascending=False)
#currency format
(pop_items.head().style
  .format({"Item Price":"${0:,.2f}",
          "Total Purchase Value":"${0:,.2f}"}))

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
pop_items=pop_items.sort_values(by = "Total Purchase Value", ascending=False)
(pop_items.head().style
  .format({"Average Purchase Price":"${0:,.2f}",
          "Total Purchase Value":"${0:,.2f}"}))